div{
    display: block;
}
.dashbox{
    float: left;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Times New Roman';
    width: fit-content;
    margin: 15px, 0px, 6px 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;   
}

.dashbox .inner{
    padding: 10px;
    color: rgb(0, 0, 0);
    margin: 0, 0, 6px, 0;
    border-radius: 20px;
    box-shadow: 0 2px 4px 4px rgb(0 0 255 / 25%);

}

.dashbox .inner:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(229, 229, 231);
    font-weight: 900;
    box-shadow: 5px 2px 4px 4px rgb(0 0 255 / 50%);
    
}
.dashbox .inner .icon_color{
    color: red;
    font-size: 110%;
    padding: 1px;
}
a{
    text-decoration: none;
}

#dashcontainer{
    border-bottom: 1px solid #CFCFCF;
    border-top: 1px solid #E6E6E6;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 150px;
    padding: 0 13px;
    position: relative;
    box-shadow: 0 2px 4px 4px rgb(200 0 0 / 25%);
    margin: 10px;
    border-radius: 15px;
}
.header1{
    width: 100%;
    height:150px;
    background-color: rgb(56, 146, 219);
    
}
.ul1{
    float:right;
    margin-top: 8px;
  }
.li1{
    display: inline-block;
    padding: 0px 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
 
  .welcome{
      color: white;
  }
