body {
    font-family: "Times New Roman";
  }
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid rgb(0, 17, 253);
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid rgb(0, 17, 253);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .expense_submit {
    float: right;
    /* width: 100%; */
    background-color: #04AA6D;
    color: white;
    padding: 5px 10px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .expense_back {
    float: right;
    /* width: 100%; */
    background-color: #e43b3b;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
  }
  .expense_back:hover{
    background-color: red;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  div.container {
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 3px;
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
    border-style: solid;
    display: inline-block;
    
    

  }