.form_radio{
    margin: 50px 20px 25px 20px;
    padding: 20px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%),
                0 1px 10px 0 rgb(0 0 0 / 12%),
                0 2px 4px 4px rgb(0 0 0 / 20%);
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    border-style:initial;
    
}
.age_select{
    width: 200px;
    border-style:groove;
}
.age_session{
    padding-left: 20px;
}