.form_radio{
    margin: 50px 20px 25px 20px;
    padding: 20px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%),
                0 1px 10px 0 rgb(0 0 0 / 12%),
                0 2px 4px 4px rgb(0 0 0 / 20%);
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    border-style:initial;
    display: inline-block;
    
    
}
.age_select{
    width: 200px;
    border-style:groove;
}
.age_session{
    padding-left: 20px;
}
.notice_submit {
    float: right;
    /* width: 100%; */
    background-color: #04AA6D;
    color: white;
    padding: 5px 10px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  .notice_back {
    float: right;
    /* width: 100%; */
    background-color: #e43b3b;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
  }
  .notice_back:hover{
    background-color: red;
  }